# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj


# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Personal
*.user

# Directories
/bin
/bin-int
/lib
/.vs
/.idea
/build
/out


# CMake build directories
/cmake-build-debug
/cmake-build-release
/cmake-build-minsizerel
/cmake-build-relwithdebinfo

# But include SDL2 because it isn't a submodule
!/Arktos/extern/SDL2-2.0.10-vs
!/Arktos/extern/SDL2-2.0.10-mingw