[submodule "Arktos/extern/corrade"]
	path = Arktos/extern/corrade
	url = https://github.com/mosra/corrade.git
[submodule "Arktos/extern/magnum"]
	path = Arktos/extern/magnum
	url = https://github.com/mosra/magnum.git
[submodule "Arktos/extern/spdlog"]
	path = Arktos/extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Arktos/extern/magnum-integration"]
	path = Arktos/extern/magnum-integration
	url = https://github.com/mosra/magnum-integration.git
[submodule "Arktos/extern/imgui"]
	path = Arktos/extern/imgui
	url = https://github.com/ocornut/imgui.git
