[submodule "Arktos/extern/corrade"]
	path = Arktos/extern/corrade
	url = https://github.com/mosra/corrade.git
[submodule "Arktos/extern/magnum"]
	path = Arktos/extern/magnum
	url = https://github.com/mosra/magnum.git
[submodule "Arktos/extern/spdlog"]
	path = Arktos/extern/spdlog
	url = https://github.com/gabime/spdlog.git
